/* Based on: https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}


/************************/
.switch-toggle {
  float: left;
  background-color: #ccc;
  border-radius: 24px;
  padding-left:4px;
  padding-right:4px;
  height:24px;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 3px;
  padding-bottom: 4px;
  float:left;
  color: #fff;
  cursor: pointer;
  width:20px;
  transition: .4s;
  border-radius: 24px;
}
.switch-toggle input:checked + label.green {
  background: green;
  transition: .4s;
}
.switch-toggle input:checked + label.red {
  background: red;
}
.switch-toggle input:checked + label.yellow {
  background: yellow;
}
/************************/


